<div class="row no-gutters">
<div class="col-12 col-md-6">
    <a routerLink="/">
      <div class="logo">
        <img src="../assets/img/logo.png">
      </div>
    </a>
</div>
<div class="col-12 col-md-6 menu">
  <a href="#">ИЗБРАННОЕ</a>
  <a href="#">ВЫЙТИ</a>
</div>
</div>