.logo{
    background-color: black;
    height: 40px;
    width: 300px;
    margin-top: 40px;
    padding-left: 40px;
}
.menu{
    padding-top: 55px;
    padding-right: 60px;
}
.menu>a{
    font-family: 'robotoregular';
    font-weight: bold;
    float: right;
    padding-left: 20px;
}
:host(app-header){
    width: 100%;
}