<p *ngIf="breadcrumbs$ | async as breadcrumbs" class="breadcrumbs">
    <a routerLink="/">АРХИВ</a>&nbsp;/&nbsp;
  <a routerLink="/{{breadcrumbs.year}}">{{breadcrumbs.year}}</a>&nbsp;/&nbsp;
  <a *ngIf="breadcrumbs.number" routerLink="/{{breadcrumbs.year}}/{{breadcrumbs.number}}">{{breadcrumbs.number}}</a>
</p>
