<div class="container-fluid">
  <div class="row flex-grow-1">
    <div *ngIf="cover$ | async as cover" [ngStyle]="{
      'background-image': 'url(' + cover + ')',
      'background-size': '100%',
      'background-color': '#000',
      'border-right': '6px solid black'
      }" class="col-12 col-md-4">
      <!-- <img class="cover" src="{{cover}}"> -->
    </div>
    <div class="col-12 col-md-8 rusrep_content">
        <div class="row">
            <app-header></app-header>
          </div>
          <div class="row">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
      <div *ngIf="content$ | async as content">
              <ul>
                  <li *ngFor="let article of content; let i = index">{{article.title}}
                    <ul>
                      <li *ngFor="let name of content[i].articles;">
                        <a routerLink="/{{name.year}}/{{name.number}}/{{name.link}}">{{name.name}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
          </div>
    </div>  
  </div>
</div>

