@font-face {
    font-family: 'robotolight';
    src: url('assets/font/Roboto-Light-webfont.eot');
    src: url('assets/font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/font/Roboto-Light-webfont.woff') format('woff'),
         url('assets/font/Roboto-Light-webfont.ttf') format('truetype'),
         url('assets/font/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('assets/font/Roboto-Regular-webfont.eot');
    src: url('assets/font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/font/Roboto-Regular-webfont.woff') format('woff'),
         url('assets/font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('assets/font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
    color: #404040;
   	max-height: 100%;
	font-family: 'robotoregular';
}