<div class="container-fluid">
  <div class="row flex-grow-1">
    <ng-container *ngIf="years$ | async as years">
      <div class="col-md-4 d-none d-md-block all_years">
        <div class="row title">
          <p>АРХИВ</p>
        </div>
        <div class="row">
          <div class="col-6 col-md-6">
            <div *ngFor="let year of years.years_list;let i = index;">
              <div *ngIf="i%2 == 0" [className]="years.current_year == year ? 'year active' : 'year inactive'">
                <a routerLink="/{{year}}">{{year}}</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div *ngFor="let year of years.years_list;let i = index;">
              <div *ngIf="i%2 != 0" [className]="years.current_year == year ? 'year active' : 'year inactive'">
                <a routerLink="/{{year}}">{{year}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-md-none all_years_mobile">
        <div class="row title">
          <p>АРХИВ</p>
        </div>
        <div class="row">
          <div class="col-6 col-md-6">
            <div *ngFor="let year of years.years_list;let i = index;">
              <div *ngIf="i%2 == 0" [className]="years.current_year == year ? 'year active' : 'year inactive'">
                <a routerLink="/{{year}}">{{year}}</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div *ngFor="let year of years.years_list;let i = index;">
              <div *ngIf="i%2 != 0" [className]="years.current_year == year ? 'year active' : 'year inactive'">
                <a routerLink="/{{year}}">{{year}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="content$ | async as content">
      <div class="col-12 col-md-8 offset-md-4 rusrep_content">
        <div class="row">
          <app-header></app-header>
        </div>
        <div class="row">
          <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div class="row issue">
          <div *ngFor="let issue of content; let i = index" class="row col-12">
            <div class="col-12 col-md-3">
              <div>
                <a routerLink="/{{issue[0].year}}/{{issue[0].number}}">
                  <img alt="Описание изображения" class="card-img-rusrep" src="http://expert.ru{{issue[0].pic_src}}">
                </a>
                <div>
                  <a class="card-title-rusrep" routerLink="/{{issue[0].year}}/{{issue[0].number}}">{{issue[0].title}}</a>
                  <br>
                  <small class="text-muted">{{issue[0].date}}</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div *ngIf="issue.length > 1">
                <a routerLink="/{{issue[1].year}}/{{issue[1].number}}">
                  <img alt="Описание изображения" class="card-img-rusrep" src="http://expert.ru{{issue[1].pic_src}}">
                </a>
                <div>
                  <a class="card-title-rusrep" routerLink="/{{issue[1].year}}/{{issue[1].number}}">{{issue[1].title}}</a>
                  <br>
                  <small class="text-muted">{{issue[1].date}}</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div *ngIf="issue.length > 2">
                <a routerLink="/{{issue[2].year}}/{{issue[2].number}}">
                  <img alt="Описание изображения" class="card-img-rusrep" src="http://expert.ru{{issue[2].pic_src}}">
                </a>
                <div>
                  <a class="card-title-rusrep" routerLink="/{{issue[2].year}}/{{issue[2].number}}">{{issue[2].title}}</a>
                  <br>
                  <small class="text-muted">{{issue[2].date}}</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div *ngIf="issue.length > 3">
                <a routerLink="/{{issue[3].year}}/{{issue[3].number}}">
                  <img alt="Описание изображения" class="card-img-rusrep" src="http://expert.ru{{issue[3].pic_src}}">
                </a>
                <div>
                  <a class="card-title-rusrep" routerLink="/{{issue[3].year}}/{{issue[3].number}}">{{issue[3].title}}</a>
                  <br>
                  <small class="text-muted">{{issue[3].date}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
