.all_years{
    background-color: #f2f2f2;
    border-right: 6px solid black;
    position: fixed;
    height: 100%;
}
.all_years_mobile{
    background-color: #f2f2f2;
    border-right: 6px solid black;
}
.year{
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(158,158,158,0.5);
    margin: 20px;
    background-color: white; 
    text-align: center;
    padding: 4px;
    color: #3d4649;
}
.year>a{
    font-size: 20px;
}

.active{
    background-color: #0099ff;
}
.active>a{
    color: white;
}

.inactive>a{
    color: #3d4649;
}

.inactive{
    background-color: white;
}

.issue{
    padding: 40px;
}

.issue>.row{
    margin-bottom: 20px;
}

.rusrep_content{
    font-size: 16px;
    font-family: 'robotolight';
}

.title{
    font-size: 24px;
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'robotoregular';
    font-weight: bold;
}
.card-img-rusrep{
    width: 100%;
    box-shadow: 0px 0px 2px 0px rgba(158,158,158,1);
    border-bottom: 6px solid black;
    margin-bottom: 10px;
}
.card-title-rusrep{
    font-size: 20px;
    font-family: "robotoregular";
    font-weight: bold;
}