<div class="container-fluid">
    <div class="row flex-grow-1">
      <div class="col-12 col-md-4" [ngStyle]="{
        'background-color': '#000',
        'border-right': '6px solid black'
        }">
        <div class="carousel">
            <app-image-carousel></app-image-carousel>
        </div>
      </div>
      <div class="col-12 col-md-8 rusrep_content">
        <div class="row">
            <app-header></app-header>
        </div>
        <div class="row">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div *ngIf="content$ | async as content">
            <div id="title">{{content.header}}</div>
          <div id="author">
            <small [innerHTML]="content.author"></small>
          </div>
            <div id="post" [innerHTML]="content.text"></div>
        </div>
    </div>
    </div>
</div>
