#title{
  font-size: 40px;
  padding-top: 20px;
  font-family: 'robotolight', serif;
  margin-left: 20px;
}

#post {
  font-size: 18px;
  padding-top: 16px;
  font-family: 'robotolight', serif;
  margin-left: 20px;
  margin-right: 80px;
}

#post ::ng-deep .vrez-horiz-big.media-vrez img {
  width: 100%;
}

.carousel{
  margin-top: 50%;
}

#author {
  margin-left: 20px;
}
